$base-path: 'https://ceres.zkthink.com/';

$addDelIcon: url('#{$base-path}static/images/delete_icon.png'); // 删除按钮图标
$borderIcon: url('#{$base-path}static/images/borderIcon.png'); // 优惠券右边框Icon
$discountBg: url('#{$base-path}static/images/discount.png'); // 折扣背景
$discountText: url('#{$base-path}static/images/discountText.png'); // 折扣文字背景
$unliquidatedBg: url('#{$base-path}static/images/unliquidatedBg.png'); // 渠道奖励页背景
$totalPersonnelTopBackImg: url('#{$base-path}static/images/totalPersonnelTopBackImg.png'); // 渠道奖励页黄背景
$storeTopImg: url('#{$base-path}static/images/storeTop_Img.png'); // 店铺顶部背景
$smallArrowR: url('#{$base-path}static/images/arrow.png'); // 小黄色右箭头部背景
$addImgIcon: url('#{$base-path}static/images/addImg.png'); // 添加按钮图标
$combinationBg: url('#{$base-path}static/images/combinationBg.png'); // 任选标题背景
$serviceImg: url('#{$base-path}static/images/serviceImg.png'); // 客服图标
$sceneMarketingDetailsIcon: url('#{$base-path}static/images/sceneMarketingDetailsIcon.png'); // 场景营销背景
$pintuanBg: url('#{$base-path}static/images/pintuanbg.png'); // 拼团背景
$addBankBg: url('#{$base-path}static/images/addBankBg.png'); // 新增银行卡顶部背景
$exchagneCoupon: url('#{$base-path}static/images/exchagneCoupon.png'); // 银行卡背景
$signIcon: url('#{$base-path}static/images/signIcon.png'); // 签到背景图
$detailIcon: url('#{$base-path}static/images/detailIcon.png'); // 积分图标
$detailIcon1: url('#{$base-path}static/images/detailIcon1.png'); // 积分图标
$exchangeIcon: url('#{$base-path}static/images/exchangeIcon.png'); // 积分图标
$exchangeIcon1: url('#{$base-path}static/images/exchangeIcon1.png'); // 积分图标
$exchangeItem: url('#{$base-path}static/images/exchangeItem.png'); // 积分优惠背景
$signBg: url('#{$base-path}static/images/signBg.png'); // 签到背景大图
$signState: url('#{$base-path}static/images/signState.png'); // 已签到状态
$signState1: url('#{$base-path}static/images/signState1.png'); // 未签到状态
$redEnvelopeBg: url('#{$base-path}static/images/redEnvelopeBg.png'); // 签到背景小图
$memberCenterBg: url('#{$base-path}static/images/memberCenterBg.png'); // 会员专区背景
$delListOrder: url('#{$base-path}static/images/delListOrder.png'); // 批量删除图标
$couponsIcon: url('#{$base-path}static/images/couponsIcon.png'); // 优惠券背景
$couponsIcon1: url('#{$base-path}static/images/couponsIcon1.png'); // 优惠券背景
$arrowSelect: url('#{$base-path}static/images/arrow-suk-select.png'); // 下箭头Icon
$notice: url('#{$base-path}static/images/notice.png'); // 白色通知图标
$storeTopBg: url('#{$base-path}static/images/storeTop_Img.png'); // 分销招募背景
$bankBg: url('#{$base-path}static/images/bankBg.png'); // 会员银行账号背景
$accountBg: url('#{$base-path}static/images/accountBg.png'); // 会员银行账号背景
$channelBg: url('#{$base-path}static/images/channelBg.png'); // 渠道券背景
$allGet: url('#{$base-path}static/images/all_get.png'); // 卡券尾部图标
$delIcon: url('#{$base-path}static/images/delIcon.png'); // 垃圾桶删除图标
$arrowRight: url('#{$base-path}static/images/arrowRight.png'); // 右箭头
$borderCoupon: url('#{$base-path}static/img/channelCoupon/border-coupon.png'); // 优惠券左侧圆形白底
$refundBg: url('#{$base-path}static/images/refundBg.png'); // 订单售后详情背景图
$addEdit: url('#{$base-path}static/images/addEdit.png'); // 地址编辑Icon
$circleShopBg: url('#{$base-path}static/img/circle/shop_bg.png'); // 种草店铺背景

/*画布图标*/
$noticeIcon: url('#{$base-path}static/canvas-images/notice/ico_notice.png'); // 公告通知Icon1
$noticeIcon2: url('#{$base-path}static/canvas-images/notice/ico_notice2.png'); // 公告通知Icon2
$newProductBg: url('#{$base-path}static/canvas-images/newProduct/bg-product-card.png'); // 每日上新背景
$newTagIcon: url('#{$base-path}static/canvas-images/newProduct/flag-new.png'); // NEW标签
